<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sepicgenious">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".SearchActivity"   android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity
            android:name=".BookDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullSCreen"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <receiver
            android:name=".utils.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".epub_reader.FileChooser"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".epub_reader.OpenBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".epub_reader.BookView"
            android:label="@string/title_activity_book_view"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable,LockedOrientationActivity" />
        <activity
            android:name=".epub_reader.DataView"
            android:label="@string/title_activity_data_view"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable,LockedOrientationActivity" />
        <activity
            android:name=".epub_reader.AudioView"
            android:label="@string/title_activity_audio_view"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable,LockedOrientationActivity" />


    </application>

</manifest>